@import "variables";
body {
  max-width: 1459px;
  margin: auto;
}
header {
  background-image: url("../img/banner-1.png");
  background-repeat: no-repeat;
  background-size: 1459px;
  height: 375px;
}
nav {
  height: 100px;
  background-color: @yellow;
}
.nav {
  padding: 2.0rem;
  padding-left: 4.0rem;
}
.nav-link {
    color: @links;
}
span {
  color: @red;
}
