@import "variables";
body {
  max-width: 1459px;
  margin: auto;
}
header {
  background-image: url("../img/banner2.png");
  background-repeat: no-repeat;
  background-size: 1459px;
  height: 375px;
}
nav {
  height: 100px;
  background-color: @yellow;
}
.nav {
  padding: 2.0rem;
  padding-left: 4.0rem;
}
.nav-link {
    color: @links;
}
span {
  color: @red;
}
.container {
  padding-top: 3.0rem;
}
button  {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: @links !important;
  font-weight: 500;
  border-radius: 8px;
  background-color: @yellow !important;
  border: none !important;
  padding: 0.7rem 1.7rem  !important;
  text-transform: uppercase;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: @links;
  font-weight: 500;
  text-transform: uppercase;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: @links;
  font-weight: 400;
}
#one {
  padding-bottom: 7.0rem;
}
#two {
  padding: 3.0rem;
  background-color: @gray;
}
.container .col-md-4 img {
  padding-left: 4.0rem;
}

.yellow {
  background-color: @yellow;
  height: 15px;
}
footer {
  background-color: @black;
  height: 150px;
}

footer img {
  max-width: 300px;
  margin: auto;
  display: block;
  padding-top: 1.5rem;
}
